
.single-product {
    margin-top: 6rem;
}

.new-arrival {
    background: green;
    width: 3.125rem;
    color: #fff;
    font-size:  0.75rem;
    font-weight: bold;
    margin-top: 2.5rem;

}

.col-md-7 h2 {
    color: #555;
}

.single-product .fa {
    color: orange;
}
.single-product .price {
    color:orange;
    font-size: 1.625rem;
    font-weight: bold;
    padding-top: 1.25rem;
}

.single-product input {
 border: 1px solid #ccc;
 font-weight: bold;
 height: 2.063rem;
 text-align: center;
 width: 1.875rem;
}

.single-product .btn-primary{
 background: orange !important;
 color: #fff;
 font-size: 0.938rem;
 margin-left: 1.25rem;
 border: none;
 box-shadow: none !important;

}


/*-----------product descrip-----*/
.product-description h5 {
    margin-top: 4rem;
    color: orange;
}

.product-description p {
    margin-top: 1.875rem;
}

.product-description hr {
    margin-top: 4rem;
    margin-bottom: 3.125rem;
}

.title-box {
    margin-top: 1.875rem;
    margin-bottom: 1.9rem;
}

.similar-products .btn-secondary {
    position: relative;
    justify-content: center;
    margin-left: 0.450rem;
    border: none;
    margin-top: 0.875rem;
    margin-bottom: 0.750rem;
}

.text-center .fa{
    color: orange;
}


.similar-products hr {
    margin-top: 6rem;
}

.overlay-right {
    margin-left: 4.6rem;
}

.modal-body .btn-custom{
    background-color: black;
}

.btn-custom {
    color: #ffffff; /* Replace with the desired color matching your navbar text */
    background-color: #000; /* Makes the background transparent to match the navbar */
    border: 1px solid #000; /* Optional: Add a border matching the text color */
}

.btn-custom:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Add a hover effect */
}